
.iderror::after{
        content: 'Must contain 10 digits';
        color: red;
}
.dateerror::after{
        content: 'must be a date minimum of 1995-01-01 and maximum of 2005-10-31:';
        color: red;
}
.texterror::after{
        content: 'Invalid input';
        color: red;
}
::after{
        font-size: 12px;
        font-weight: bold;
}



